@import "colors";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	scroll-padding-top: 82px;
}

body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	background-color: $grey-color;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}
.underline {
	margin: 0 auto 40px;
	width: 60px;
	height: 4px;
	background-color: $main-color;
}
.red-text {
	color: $main-color;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

nav {
	text-transform: uppercase;
	width: 100%;
	z-index: 1;
	transition: background-color 0.6s;

	.navbar-nav {
		.nav-link {
			color: $white;
		}
		.nav-link:hover {
			color: $main-color;
		}
	}
	.navbar-brand {
		font-weight: bold;
		color: $white;
	}
	.fa-bars {
		padding: 10px;
		color: $white;
	}
	.active {
		color: $main-color;
	}
	.fa-bolt {
		padding-right: 10px;
	}
}
header {
	color: $white;

	h1 {
		text-transform: uppercase;
		font-weight: bold;
	}
	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url("../img/formula1.png");
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		flex-direction: column;
		z-index: 5;
		text-align: center;
		padding: 10px;
	}
	.fa-chevron-down {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		font-size: 30px;
		bottom: 20px;
	}
}

.aboutus {
	i {
		margin-top: 20px;
		font-size: 30px;
	}
	.aboutus-card-title {
		font-size: 18px;
		text-transform: uppercase;
	}
	.aboutus-card-text {
		font-size: 14px;
	}
	.about-us-hover {
		transition: 0.5s;
	}
	.about-us-hover:hover {
		cursor: pointer;
		color: $main-color;
	}
}

.aboutus-hero {
	position: relative;
	background-image: url("../img/formula1.png");
	background-position: center;
	background-size: cover;
	color: $light-gray;
	z-index: 0;

	.aboutus-shadow {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: -5;
	}
}
