@import "colors";

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: "Montserrat", sans-serif;
	background-color: #444;
}

nav {
	text-transform: uppercase;

	.navbar-nav {
		.nav-link {
			color: $white;
		}
		.nav-link:hover {
			color: $red-color;
		}
	}
	.navbar-brand {
		font-weight: bold;
		color: $white;
	}
	.fa-bars {
		padding: 10px;
		color: $white;
	}
	.active {
		color: $red-color;
	}
}
header {
	color: $white;

	h1 {
		text-transform: uppercase;
	}
	.hero-img {
		height: 100vh;
		background-image: url("../img/formula1.png");
	}
}
